{% extends 'layout/myfile.html' %}
{% load bootstrap4 %}
{% load filterandtags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NewFriend</title>
</head>
<body>
{% block header %}
<header>
    <div class="sticky-nav stuck">
        <a id="mobile-nav" class="menu-nav" href="#menu-nav"></a>
        <nav id="menu">
            {% if user.is_authenticated %}
            <ul id="menu-nav">
                <li class="current"><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'profile' %}">Profile</a></li>
                <li><a href="{% url 'find_friend'%}">Find friends</a></li>
                <li><a href="{% url 'friends' %}">Friends</a></li>
                <li><a href="{% url 'chats' %}" >Chats</a></li>
                <li><a href="{% url 'logout' %}">Log out</a></li>
                <li><a href="{% url  'register' %}">Registration</a></li>
            </ul>
            {% else %}
                <ul id="menu-nav">
                <li class="current"><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'login' %}">Log in</a></li>
                <li><a href="{% url  'register' %}">Registration</a></li>
            </ul>
            {% endif %}
        </nav>
    </div>
</header>
{% endblock header %}
{% block content %}
    <form method="post" class="form">
        <div class="container">
            {% csrf_token %}
            {% bootstrap_form form %}
            <input type="submit" class="btn btn-outline-dark btn-lg" value="Find Friends ">
        </div>
    </form>
    <div class="container">
        <ul class="list-friends">
            {% if friend %}
                {% get_friend request.user friend as f %}
                {% if friend == requset.user%}
                        <li class="list-friends-item">
                        <a  class="list-text" href="{% url 'profile' %}">
                            <img class="sm_avatar" src="{{ MEDIA_URL }}{{ request.user.model_pic.url }}" alt="profile">
                            {{ friend.username }}
                        </a>
                    </li>

                {% else %}
                    {% if f %}
                        <li class="list-friends-item">
                        <a  class="list-text" href="{% url 'profile' %}">
                            <img class="sm_avatar" src="{{ MEDIA_URL }}{{ friend.model_pic.url }}" alt="profile">
                            {{ friend.username }}
                        </a>
                    </li>
                    {% else %}
                        <li class="list-friends-item" >
                        <div class="row">
                            <img class="sm_avatar" src="{{ MEDIA_URL }}{{ friend.model_pic.url }}" alt="profile">
                            <a class="list-text" href="{% url 'other_profiles' friend.pk %}">{{ friend.username }}</a>
                            <form action="{% url 'add_friend' friend.pk %}" method="post">
                                {% csrf_token %}
                                <input type="submit" value="Add">
                             </form>
                        </div>
                     </li>
                    {% endif %}

                {% endif %}
            {% else %}
                {% for user in users %}
                    {% if user == request.user %}
                        <li class="list-friends-item">

                            <a class="list-text" href="{% url 'profile'%}" >
                                <img class="sm_avatar" src="{{ MEDIA_URL }}{{ request.user.model_pic.url }}" alt="profile">
                                {{ user.username }}
                            </a>
                        </li>
                    {% else %}
                        {% get_friend request.user user as f %}
                        {% if  f %}
                            <li class="list-friends-item">
                        <a  class="list-text" href="{% url 'other_profiles' user.pk %}">
                            <img class="sm_avatar" src="{{ MEDIA_URL }}{{ user.model_pic.url }}" alt="profile">
                            {{ user.username }}
                        </a>
                    </li>
                        {% else  %}
                            <li class="list-friends-item" >
                            <div class="row">
                                <img class="sm_avatar" src="{{ MEDIA_URL }}{{ user.model_pic.url }}" alt="profile">
                                <a class="list-text" href="{% url 'other_profiles' user.pk %}">{{ user.username }}</a>
                                <form action="{% url 'add_friend' user.pk %}" method="post">
                                    {% csrf_token %}
                                    <input type="submit" value="Add">
                                </form>
                            </div>
                            </li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        </ul>
    </div>
{% endblock content %}

</body>
</html>
