aioredis==1.2.0
asgi-redis==1.4.3
asgiref==3.1.4
asn1crypto==0.24.0
async-timeout==3.0.1
attrs==19.1.0
autobahn==19.7.1
Automat==0.7.0
certifi==2019.3.9
cffi==1.12.3
channels==2.2.0
channels-redis==2.4.0
chardet==3.0.4
constantly==15.1.0
cryptography==2.7
daphne==2.3.0
dj-database-url==0.5.0
dj-static==0.0.6
Django==2.2
django-bootstrap3==11.0.0
django-bootstrap4==0.0.8
django-cors-headers==3.0.2
djangorestframework==3.10.0
gunicorn==19.9.0
hiredis==1.0.0
hyperlink==19.0.0
idna==2.8
incremental==17.5.0
msgpack==0.6.1
msgpack-python==0.5.6
opencv-python==4.1.0.25
pathlib2==2.3.4
Pillow==6.0.0
pyaes==1.6.1
pyasn1==0.4.5
pycparser==2.19

PyHamcrest==1.9.0
pygtk==2.24.2



redis==2.10.6
requests==2.22.0
rsa==4.0
six==1.12.0
sqlparse==0.3.0
static3==0.7.0
style==1.1.0

txaio==18.8.1
update==0.0.1
urllib3==1.25.3
websockets==8.0
wxpython==4.0.6
zope.interface==4.6.0
psycopg2==2.8.3

