aioredis==1.2.0
asgi-redis==1.4.3
asgiref==3.1.4

channels==2.2.0

dj-database-url==0.5.0
dj-static==0.0.6
Django==2.2.8
django-bootstrap3==11.0.0
django-bootstrap4==0.0.8
django-cors-headers==3.0.2

gunicorn==19.9.0
hiredis==1.0.0

redis==2.10.6
requests==2.22.0

sqlparse==0.3.0
static3==0.7.0
