header{
    position: sticky;
    top: 0;z-index: 10;
    background-color: black;
}

#row1{
    background-color: #aaaaaa;
}


#btn-tog{
    background-color: black;
    border-color: black;
}

body{
                font:15px/1.3 'PT Sans', sans-serif;
                background-color: #aaaaaa;
                color: white;
                height: auto !important;


                min-height: 100%;



                position:relative;

                z-index:0;

}

footer{

                height: 245px;

                color:#ccc;

                font-size:12px;
                bottom: 0;

                position: relative;
                z-index:-2;

                background-color: black;



}

footer > h1{

                width:960px;

                position:fixed;

                left:50%;

                bottom:0;

                margin-left:-480px;

                padding-bottom: 60px;

                z-index:-1;

}





::-webkit-scrollbar{
    width:12px;
}

::-webkit-scrollbar-thumb{
    border-width:1px 1px 1px 2px;
    border-color: white;
}

::-webkit-scrollbar-thumb:hover{
    border-width: 1px 1px 1px 2px;
    border-color: white;
    background-color: black;
}

#title{
    text-shadow: 10px 10px 10px black, 0 0 1em black;
    text-align: center;
    color:white;
}
