{% extends 'layout/myfile.html' %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block header %}
<header>
    <div class="sticky-nav stuck">
        <a id="mobile-nav" class="menu-nav" href="#menu-nav"></a>
        <nav id="menu">
            {% if user.is_authenticated %}
            <ul id="menu-nav">
                <li class="current"><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'profile' %}">Profile</a></li>
                <li><a href="{% url 'find_friend'%}">Find friends</a></li>
                <li><a href="{% url 'friends' %}">Friends</a></li>
                <li><a href="{% url 'chats' %}" >Chats</a></li>
                <li><a href="{% url 'logout' %}">Log out</a></li>
                <li><a href="{% url  'register' %}">Registration</a></li>
            </ul>
            {% else %}
                <ul id="menu-nav">
                <li class="current"><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'login' %}">Log in</a></li>
                <li><a href="{% url  'register' %}">Registration</a></li>
            </ul>
            {% endif %}
        </nav>
    </div>
</header>
{% endblock header %}

{% block content %}

    <h1>Profile Settings</h1>
    <div class="pr_form">
    <form method="post"  enctype="multipart/form-data" >

        {% csrf_token %}
        {% bootstrap_form form %}
        <input type="submit"  value="Save">

    </form>
    </div>
{% endblock content %}

</body>
</html>
