{% extends 'layout/basic.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete User</title>
</head>
<body>
{% block content %}
    <div class="container-fluid">
    <div class="row">
        <div class="col-md-2">

        </div>
        <div class="col-md-8">
        <form method="post">
        <div class="container">
            <div class="jumbotron">
                <h1 class="display-4">
                    Delete account
                </h1>
                {% csrf_token %}
                <input type="submit" class="btn btn-outline-dark btn-lg btn-block" value="Delete">
            </div>
        </div>
    </form>
    </div>
    </div>
    </div>
{% endblock content %}
{% block foot %}
{% endblock foot %}
</body>
</html>