{% extends 'layout/myfile.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete User</title>
</head>
<body>
{% block content %}


        <form method="post" class="form">

                <h1 class="title" >
                    Delete account
                </h1>
                {% csrf_token %}
                <input type="submit" class="btn btn-outline-dark btn-lg btn-block" value="Delete">

        </form>


{% endblock content %}
{% block foot %}
{% endblock foot %}
</body>
</html>