{% extends 'layout/basic.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MAIN PAGE</title>
</head>
<body>
{% block content %}
    <div class="card bg-dark text-white">
        <img src="media/media/message.jpg" class="card-img" alt="...">
        <div class="card-img-overlay">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <h1  id='title' class="card-title" style="font-size:150px;">Enjoy</h1>
                        <h1 id='title' class="card-title" style="font-size:150px;">Communication</h1>
                    </div>

                </div>
            </div>

        </div>
    </div>
    <div class="card bg-dark text-white">
        <img src="media/media/com.jpg" class="card-img" alt="...">
        <div class="card-img-overlay" style="color: black;">
            <h1 id='title' class="card-title" style="font-size:150px;">Chat With Your Friends</h1>
        </div>
    </div>
    <div class="card bg-dark text-white">
        <img src="media/media/friend.jpg" class="card-img" alt="...">
        <div class="card-img-overlay">
            <h1 id='title' class="card-title" style="font-size:150px;">Post</h1>
            <h1 id='title' class="card-title" style="font-size:150px;">Photos</h1>

        </div>
    </div>
{% endblock content %}

</body>
</html>