{% extends 'layout/myfile.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta  http-equiv="Content-Type" name="viewport" content="width=device-width,initial-scale=1">
    <title>MAIN PAGE</title>
</head>
<body>
{% block slider %}
    <div class="slider" id="slider">
    <div class="item">
        <img src="{% static "main/communication.png" %}" alt="Первый слайд">
        <div class="slideText">Chat with your mates </div>
    </div>
    <div class="item">
        <img src="{% static "main/friend.jpg" %}" alt="Второй слайд">
        <div class="slideText">Post photos</div>
    </div>
    <div class="item">
        <img src="{% static "main/message.jpg" %}" alt="Третий слайд">
        <div class="slideText">Find new friends</div>
    </div>
    <a class="prev" onclick="minusSlide()">&#10094;</a>
    <a class="next" onclick="plusSlide()">&#10095;</a>
</div>
{% endblock slider %}
{% block header %}
<header>
    <div class="sticky-nav">
        <a id="mobile-nav" class="menu-nav" href="#menu-nav"></a>
        <nav id="menu">
            {% if user.is_authenticated %}
            <ul id="menu-nav">
                <li class="current"><a href="#slider">Home</a></li>
                <li><a href="{% url 'profile' %}">Profile</a></li>
                <li><a href="{% url 'find_friend'%}">Find friends</a></li>
                <li><a href="{% url 'friends' %}">Friends</a></li>
                <li><a href="{% url 'chats' %}" >Chats</a></li>
                <li><a href="{% url 'logout' %}">Log out</a></li>
                <li><a href="{% url  'register' %}">Registration</a></li>
            </ul>
            {% else %}
                <ul id="menu-nav">
                <li class="current"><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'login' %}">Log in</a></li>
                <li><a href="{% url  'register' %}">Registration</a></li>
            </ul>
            {% endif %}
        </nav>
    </div>
</header>
{% endblock header %}
{% block content %}

    <div id="profile" class="page">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="title-page">
                    <h2 class="title">Profile</h2>
                </div>
            </div>

        </div>


            <div class="parts_">
                <a class="words" href="{% url 'login' %}">Start Creating Yourself Now</a>
            </div>

    </div>
</div>


    <div id="friends" class="page">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="title-page">
                    <h2 class="title">Friends</h2>
                </div>
            </div>

        </div>


            <div class="parts_">
                <a   class="words" href="{% url 'login' %}">Find New Friends</a>
            </div>

    </div>
</div>

    <div id="chats" class="page">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="title-page">
                    <h2 class="title">Chats</h2>
                </div>
            </div>

        </div>


            <div class="parts_">
                <a class="words" href="{% url 'login' %}">Chat With Your Mates</a>
            </div>

    </div>
</div>

{% endblock content %}

</body>
</html>