{% extends 'layout/myfile.html' %}
{% load static %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
{% block header %}
<header>
    <div class="sticky-nav stuck">
        <a id="mobile-nav" class="menu-nav" href="#menu-nav"></a>
        <nav id="menu">
            {% if user.is_authenticated %}
            <ul id="menu-nav">
                <li class="current"><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'profile' %}">Profile</a></li>
                <li><a href="{% url 'find_friend'%}">Find friends</a></li>
                <li><a href="{% url 'friends' %}">Friends</a></li>
                <li><a href="{% url 'chats' %}" >Chats</a></li>
                <li><a href="{% url 'logout' %}">Log out</a></li>
                <li><a href="{% url  'register' %}">Registration</a></li>
            </ul>
            {% else %}
                <ul id="menu-nav">
                <li class="current"><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'login' %}">Log in</a></li>
                <li><a href="{% url  'register' %}">Registration</a></li>
            </ul>
            {% endif %}
        </nav>
    </div>
</header>
{% endblock header %}

{% block content %}
    <div class="profile">
            <div class="info" style="background-image: url({{ MEDIA_URL }}{{ request.user.profile_fon.url}})">
                <div class="block">
                </div>
                <div class="ava">
                {% if request.user.model_pic %}
                    <img class="avatar" src="{{ MEDIA_URL }}{{ request.user.model_pic.url }}" alt="profile">
                {% endif %}
            </div>
                <div class="info_text">
                    <h1 class="username">{{ request.user.username }}</h1>
                    <a class="words"><h2 >First name : {{ request.user.first_name }}</h2></a>
                    <a class="words"><h2 >Last name : {{ request.user.last_name }}</h2></a><br><br>
                    <a class="words"><h2 >Date of birth : {{ request.user.date_of_birth }}</h2></a>
                    <i class="fas fa-wrench" id="cog"  onclick="func()"></i>
                <ul class="sub-menu" id="sub-menu">
                    <li><a href="{% url 'profile_change' %}">Change Info</a></li>
                    <li><a href="{% url 'password_change' %}">Change Password</a></li>
                    <li><a href="{% url 'profile_delete' %}">Delete account</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
                <div class="about">
                    <h3 class="about-title">About me</h3>
                    <p class="about-text">{{ request.user.about }}</p>
                </div>
                <div class="hobbies">

                        <h3 class="hobbies-title">Hobbies</h3>
                        <p class="hobbies-text">{{ request.user.Hobbys }}</p>
                </div>
        </div>
    </div>
    <div id="row2">
        <input type="button" class="btn_photo" value="Add photo" id="hidden_button" onclick="HiddenFunction();">
        <form method="post" enctype="multipart/form-data" class="photo_form">
            {% csrf_token %}
            {% bootstrap_form form %}
            <input type="hidden"  id="hidden_input" class="hidden_but" value="Save">
        </form>
    </div>
    {% if photos %}
        <div class="slider" id="slider" >
            {% for photo in photos %}
                <div class="item">
        <img src="{{ MEDIA_URL }}{{ photo.photo.url }}" alt="Первый слайд">
    </div>

                <a class="prev" onclick="minusSlide()">&#10094;</a>
                <a class="next" onclick="plusSlide()">&#10095;</a>
            {% endfor %}
</div>

    {% else %}
        <div class="no_posts">
            <h1 class="text-muted">
                        No posts yet.
                    </h1>
            <p class="text-muted">Click 'Add a photo' to create new post.</p>
        </div>
    {% endif %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

    <script>

    function func(){
        document.getElementById('sub-menu').style.display='block';
    }
    function HiddenFunction(){
        document.getElementById('id_photos').click();
        document.getElementById('hidden_input').type='submit';

    }
        document.getElementById('id_photos').style.display='none';
    $(document).mouseup(function (e) {
        var container =$("#sub-menu");
        if (container.has(e.target).length === 0){
            container.hide();
        }
    });
    </script>
{% endblock content %}

</body>
</html>