{% extends 'layout/myfile.html' %}
{% load filterandtags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chats</title>
</head>
<body>
{% block header %}
<header>
    <div class="sticky-nav stuck">
        <a id="mobile-nav" class="menu-nav" href="#menu-nav"></a>
        <nav id="menu">
            {% if user.is_authenticated %}
            <ul id="menu-nav">
                <li class="current"><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'profile' %}">Profile</a></li>
                <li><a href="{% url 'find_friend'%}">Find friends</a></li>
                <li><a href="{% url 'friends' %}">Friends</a></li>
                <li><a href="{% url 'chats' %}" >Chats</a></li>
                <li><a href="{% url 'logout' %}">Log out</a></li>
                <li><a href="{% url  'register' %}">Registration</a></li>
            </ul>
            {% else %}
                <ul id="menu-nav">
                <li class="current"><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'login' %}">Log in</a></li>
                <li><a href="{% url  'register' %}">Registration</a></li>
            </ul>
            {% endif %}
        </nav>
    </div>
</header>
{% endblock header %}
{% block content %}
<div class="self-chats">
    <div class="new_chat_btn">
        <form action="{% url 'new_chat' %}">
            <input type="submit" class="btn_photo"  value="New Chat">
        </form>
    </div>
    <ul class="list-friends">
    {% for chat in chats %}
            {% get_users_pk user chat as u%}
            <li class="list-friends-item" >
                <img class="sm_avatar" src="{{ MEDIA_URL }}{{ u.model_pic.url }}" alt="profile">
                <a id="#room-name-submit" href="{% url 'chat' chat.pk %}" >
                    <div class="words">
                        {{ u.username }}
                        {% count_messages chat request.user  as i %}
                        {% if i %}
                        <span class="badge badge-secondary">{{ i }}</span>
                        {% endif %}
                    </div>
                    <div class="message-delete">
                        <form action="{% url 'delete_chat' chat.pk %}">
                    <input type="submit"  value="Delete">
                </form>
                    </div>
                </a>
            </li>
    {% endfor %}
    </ul>
</div>
    <script>
         var value=0;
    </script>
{% endblock content %}

</body>
</html>

