{% extends 'layout/myfile.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New_chat</title>
</head>
<body>
{% block header %}
<header>
    <div class="sticky-nav stuck">
        <a id="mobile-nav" class="menu-nav" href="#menu-nav"></a>
        <nav id="menu">
            {% if user.is_authenticated %}
            <ul id="menu-nav">
                <li class="current"><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'profile' %}">Profile</a></li>
                <li><a href="{% url 'find_friend'%}">Find friends</a></li>
                <li><a href="{% url 'friends' %}">Friends</a></li>
                <li><a href="{% url 'chats' %}" >Chats</a></li>
                <li><a href="{% url 'logout' %}">Log out</a></li>
                <li><a href="{% url  'register' %}">Registration</a></li>
            </ul>
            {% else %}
                <ul id="menu-nav">
                <li class="current"><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'login' %}">Log in</a></li>
                <li><a href="{% url  'register' %}">Registration</a></li>
            </ul>
            {% endif %}
        </nav>
    </div>
</header>
{% endblock header %}
{% block content %}
    <input type="hidden" value="{{ chat.pk }}" id="chat_pk">
    <input type="hidden" value="{{ request.user.username }}" id="user">
    <div class="self_friends">
        {% if friends %}
            <h1 class="title">Friends</h1>
        <ul class="list-friends">
        {% for user in friends %}
            <li class="list-friends-item">
                <input type="hidden" value="{{ user.to_user }}" id="friend">
                <input type="hidden" value="{{ request.user.username }}" id="user">
                <input type="hidden" value="{{ chat.pk }}" id="chat_pk">
                <div class="row">
                    <div class="col-md-10">
                        <a class="list-text" href="{% url 'chat' chat.pk  %}" id="new">{{ user.to_user }}</a>

                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
        {% else %}
            <h1 class="text-muted">
                No friends yet.
            </h1>
        {% endif %}
    </div>

    <script>
        var socket_url = 'ws://'+window.location.host+ window.location.pathname;
        var socket = new WebSocket(socket_url);

        socket.onopen = function(event){
        document.querySelector('#new').onclick = function(e) {
            var friend_name = document.querySelector('#friend').value;
            var chat_pk = $('#chat_pk').val();
            var user = $('#user').val();
            data = {
                'friend_name':friend_name,
                'chat_pk':chat_pk,
                'user':user
            };
            socket.send((JSON.stringify(data)));
        };

    };

        socket.onclose = function(event){
            console.log('Closed...',event);
        };

    </script>

{% endblock content %}

{% block foot %}
{% endblock foot %}
</body>
</html>
